.activity.flickr
  .background_icon
    = link_to image_tag('flickr_icon.png'), "http://flickr.com/photos/#{FLICKR_USERNAME}"
  %p
    %strong= link_to(activity.title, activity.source_url)
    = link_to(image_tag(activity.metadata["preview_url"]), activity.source_url)
  .meta
    - unless activity.metadata["tags"].nil? || activity.metadata["tags"].empty?
      Tagged:
      = activity.metadata["tags"].join(', ')
      ||
    = activity.created_at.to_formatted_s(:short_date_with_time)
  .clear
