.activity.foursquare
  .background_icon
    = link_to image_tag('foursquare_icon.png'), "http://foursquare.com/user/#{FOURSQUARE_ID}"
  %p
    = twitter_link(activity.title)
    - unless activity.content.blank?
      %br
      %em= activity.content
  .meta
    - unless activity.metadata["venue_id"].nil?
      = link_to "Checkin Location", "http://foursquare.com/venue/#{activity.metadata['venue_id']}"
      ||
    = activity.created_at.to_formatted_s(:short_date_with_time)
