.activity.google_reader_share
  .background_icon
    = link_to image_tag('google_reader_icon.png'), 'http://www.google.com/reader/shared/MuellerMR'
  %p
    %strong= link_to(activity.title, activity.source_url)
  - unless activity.content.blank?
    %p
      = raw(truncate(activity.content, :length => 500))
      %br
      %br
      %em
        = link_to "Continue Reading...", activity.source_url
  .meta
    - unless activity.metadata["categories"].nil? || activity.metadata["categories"].empty?
      Tagged:
      = activity.metadata["categories"].join(', ')
      ||
    = activity.created_at.to_formatted_s(:short_date_with_time)
  .clear
