!!!
%html

  %head
    %title
      = "#{@page_title} || The Matt Mueller"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "compiled/screen"
  %body
    #wrap
      #sidebar
        .content
          .logo_container
            %h1
              %span.small
                The
              %br
              Matt
              %br
              Mueller
            .about_links
              %ul
                %li
                  = link_to(image_tag('home-inv.png'), '#')
                  = link_to 'Home', '#'
                %li
                  = link_to(image_tag('about-inv.png'), '#')
                  = link_to 'About', '#'
                %li
                  = link_to(image_tag('mail-inv.png'), '#')
                  = link_to 'Contact', '#'
          .navigation
            %ul
              %li
                %a{:href => "/", :class => 'first', :class => ('active' if @current_tab == 'stream')}
                  Life Stream
                  %span.count
                    = "(#{number_with_delimiter(@stream_count)})"
              %li
                %a{:href => "?activity_type=TwitterStatus", :class => ('active' if @current_tab == 'twitter_status')}
                  Twitter Status Updates
                  %span.count
                    = "(#{number_with_delimiter(@twitter_count)})"
              %li
                %a{:href => "?activity_type=FoursquareCheckin", :class => ('active' if @current_tab == 'foursquare_checkin')}
                  Foursquare Checkins
                  %span.count
                    = "(#{number_with_delimiter(@foursquare_count)})"
              %li
                %a{:href => "?activity_type=DeliciousBookmark", :class => ('active' if @current_tab == 'delicious_bookmark')}
                  Del.icio.us Bookmarks
                  %span.count
                    = "(#{number_with_delimiter(@delicious_count)})"
              %li
                %a{:href => "?activity_type=GoogleReaderShare", :class => ('active' if @current_tab == 'google_reader_share')}
                  Google Reader Shares
                  %span.count
                    = "(#{number_with_delimiter(@google_reader_count)})"
              %li
                %a{:href => "?activity_type=FlickrPhoto", :class => 'last', :class => ('active' if @current_tab == 'flickr_photo')}
                  Flickr Photos
                  %span.count
                    = "(#{number_with_delimiter(@flickr_count)})"
      #content
        = yield
      #footer
        .links
          .cluster
            Built With:
            = link_to 'Ruby', 'http://ruby-lang.org'
            |
            = link_to 'Rails', 'http://rubyonrails.org'
            |
            = link_to 'MySQL', 'http://mysql.com'
          .cluster
            Deployed With:
            = link_to 'Apache', 'http://apache.org'
            |
            = link_to 'Phusion Passenger', 'http://modrails.com'
        .source
          = link_to 'Get the Source', 'https://github.com/mattmueller/mm_lifestream'

