!!!
%html

  %head
    %title
      = "#{@page_title} || #{Settings.site_title}"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "compiled/screen"
  %body
    #wrap
      #sidebar
        = render :partial => 'layouts/sidebar'
      #content
        = yield
      #footer
        .links
          .cluster
            Built With:
            = link_to 'Ruby', 'http://ruby-lang.org'
            |
            = link_to 'Rails', 'http://rubyonrails.org'
            |
            = link_to 'MySQL', 'http://mysql.com'
          .cluster
            Deployed With:
            = link_to 'Apache', 'http://apache.org'
            |
            = link_to 'Phusion Passenger', 'http://modrails.com'
        .source
          = link_to 'Get the Source', 'https://github.com/mattmueller/mm_lifestream'

